@CHARSET "UTF-8";

  body { 
        background-color:#dcdcdc;
      }
       
      .navbar-inverse {
/* Couleur de fond de la barre de navigation */
background-color: #20375E;
 border-color: #20375E;
}
